<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-assertive">
          <button class="button icon ion-home"></button>
          <h1 class="title">Ionic Header</h1>
          <button class="button icon ion-settings"></button>
      </ion-header-bar>
      <div class="bar bar-subheader">
          <h2 class="title">Page Subheader</h2>
      </div>
      <ion-content class="padding has-subheader">
         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A repudiandae quod labore adipisci beatae impedit facilis nulla rem magni asperiores, molestiae maxime harum explicabo, odio earum cupiditate iusto. Omnis, corporis.     
         </p>
      <div class="card list-inset">
          <label class="item item-input">
              <span class="input-label">First Name</span>
              <input type="text" placeholder="First Name">
          </label>
          <label class="item item-input item-floating-label">
              <span class="input-label">Last Name</span>
              <input type="text" placeholder="Last Name">
          </label>
          <label class="item item-input item-stacked-label">
              <span class="input-label">E-mail</span>
              <input type="email" placeholder="E-mail">
          </label>
          <div class="item item-checkbox">
              <label class="checkbox">
                  <input type="checkbox">
              </label>
              <span class="input-label">I Agree...</span>
          </div>
      </div>                                                                               <ion-list class="list-inset">
          <ion-radio icon="ion-social-facebook" ng-model="social" ng-value="facebook">Facebook</ion-radio>
          <ion-radio icon="ion-social-twitter" ng-model="social" ng-value="twitter">Twitter</ion-radio>
          <ion-radio icon="ion-social-googleplus" ng-model="social" ng-value="googleplus">Google+</ion-radio>
      </ion-list>
      
      <ion-list>
          <div class="item item-toggle">
              <span class="input-label">Show All</span>
          
          <label class="toggle toggle-energized">
              <input type="checkbox">
              <span class="track">
                  <span class="handle"></span>
              </span>
          </label>
          </div>
      </ion-list>
      
      <ion-list>
          <ion-item class="range">
              <span class="input-label">Size</span>
              <i class="icon ion-person"></i>
              <input type="range" name="size" min="0" max="100" value="30">
              <i class="icon ion-person-stalker"></i>
          </ion-item>
      </ion-list>
      </ion-content>
      
      <ion-footer-bar class="bar-positive">
          <h4 class="title">Footer</h4>
      </ion-footer-bar>
    </ion-pane>
  </body>
</html>
