<ion-view view-title="Categories">
     <div class="bar bar-subheader item-input-inset">
          <label class="item-input-wrapper">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Search" ng-model="query">
          </label>
      </div>
      <!-- Page Content -->
      <ion-content class="padding has-subheader">
        <ion-refresher on-refresh="reload()"></ion-refresher>
         <ion-list show-reorder="showReorder" show-delete="showDelete">
             <ion-item ng-href="#/shop/{{category.id}}/items" class="item-thumbnail-left item-text-wrap" ng-repeat="category in categories|filter:query">
                 <img ng-src="{{category.thumbnail}}" alt="{{catgory.title}}">
                 <h2>{{category.title}}</h2>
                 <p>{{category.description | limitTo:150}} {{category.description.length > 150? '&hellip;':''}}</p>
                 
                 <ion-delete-button class="ion-minus-round" ng-click="deleteItem(category)"></ion-delete-button>
                 <ion-reorder-button class="ion-navicon" on-reorder="moveItem(category,$fromIndex,$toIndex)"></ion-reorder-button>
             </ion-item>
              
         </ion-list>
      </ion-content>
      <!-- Page Footer -->
      <ion-footer-bar class="bar-calm">
          <button class="button button-icon ion-minus-round" 
              ng-click="showDelete = !showDelete;showReorder=false"
          ></button>
          <h1 class="title">Categories</h1>
          <button class="button button-icon ion-reply"
              ng-click="showReorder = !showReorder;showDelete=false"
          ></button>
      </ion-footer-bar>

</ion-view>