<ion-view >
  <ion-nav-title>{{item.title}}</ion-nav-title>
   <ion-content class="padding">
    <div class="row">
        <div class="col">
            <img ng-src="{{item.artwork}}" alt="{{item.title}}">
        </div>
    </div>
    <div class="row">       
        <div class="col">
            <h3>Artist: {{item.artist}}</h3>
        </div>
    </div>   
    <div class="row">        
        <div class="col">
            <p>{{item.description}}</p>
        </div>
    </div>    
    <div class="row">        
        <div class="col">
            <h4>Price:{{item.price}}</h4>
        </div>    
    </div> 
    <ion-nav-view name="user-comments"></ion-nav-view>
   </ion-content>
</ion-view>