<ion-view view-title="User Login">
    <ion-content class="padding">
     <form name="lgnFrm" novalidate>
      <div class="list card">
        <label class="item item-input">
            <input type="email" placeholder="E-mail" ng-model="user.email" name="email" ng-required="true">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="user.password1" name="pass" ng-required="true">
        </label>
     </div>
     <div>
       <p ng-show="lgnFrm.email.$touched && lgnFrm.email.$invalid">E-mail is required</p>
       <p ng-show="lgnFrm.pass.$touched && lgnFrm.pass.$invalid">Password is required</p>  
     </div> 
     <button ng-disabled="lgnFrm.$invalid" class="button button-positive" ng-click="login(user)">Login</button>
      </form>
    </ion-content>
</ion-view>