<ion-view view-title="User Registration">
<ion-content class="padding">
   <form name="regFrm" novalidate>
    <div class="list card">
        <label class="item item-input">
            <input type="text" placeholder="First Name" name="firstname" ng-model="user.firstname" ng-required="true">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Last Name" name="lastname" ng-model="user.lastname" ng-required="true">
        </label>
        <label class="item item-input">
            <input type="email" placeholder="E-mail" name="email" ng-model="user.email" ng-required="true">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="Password" name="pass1" ng-model="user.password1" ng-required="true">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="Password" name="pass2" ng-model="user.password2" ng-required="true">
        </label>
    </div>
    <div>
        <p ng-show="regFrm.lastname.$touched && regFrm.lastname.$invalid">Last name is required</p>
        <p ng-show="regFrm.firstname.$touched && regFrm.firstname.$invalid">First name is required</p>
        <p ng-show="regFrm.email.$touched && regFrm.email.$invalid">E-mail is required</p>
        <p ng-show="regFrm.pass1.$touched && regFrm.pass1.$invalid">Password is required</p>
        <p ng-show="regFrm.pass2.$touched && regFrm.pass2.$invalid || user.password1 != user.password2">Password1 and Password2 don't match</p>
     
    </div>
    <button class="button button-positive" ng-disabled="regFrm.$invalid || user.password1 != user.password2" ng-click="register(user)">Send</button>
    </form>
</ion-content>
</ion-view>